body .page .section .row .col-8 .card .card-body .Educational form table tr td, body .page .section .row .col-8 .card .card-body .Educational form table tr th {
  padding: 0px 10px;
  float: left;
  display: block;
  text-align: center;
  border: 1px solid black;
  word-wrap: break-word;
}

body .page .section .row .col-8 .card .card-body .card-title, body .page .section .row .col-4 .card .card-body .card-title, body .page .nav .container ul li a, body .page .title {
  text-transform: uppercase;
}

body {
  background-color: #f8f8f8;
}
body .page .title {
  background-color: purple;
  width: 100%;
  height: 80px;
  color: white;
  text-align: center;
  padding: 5px;
}
body .page .title a {
  text-decoration: none;
}
body .page .title #cv {
  text-decoration: underline;
  color: white;
}
body .page .title div #name {
  font-size: 24px;
  line-height: 20px;
  color: white;
}
body .page .title div #tag {
  font-size: 14px;
  line-height: 0px;
  color: white;
}
body .page .nav {
  width: 100%;
  height: 50px;
  background-color: teal;
  margin: auto;
}
body .page .nav .container ul {
  list-style-type: none;
}
body .page .nav .container ul li {
  display: inline;
}
body .page .nav .container ul li a {
  color: white;
  float: left;
  text-decoration: none;
  font-size: 18px;
  line-height: 50px;
  padding: 0px 20px;
  text-align: center;
}
body .page .nav .container ul li a .fa-home {
  font-size: 25px !important;
}
body .page .nav .container ul li a:hover {
  color: teal;
  background-color: white;
}
body .page .section {
  margin-top: 10px;
}
body .page .section .row .col-4 {
  max-width: 500px;
}
body .page .section .row .col-4 .card {
  box-shadow: 2px 3px 8px 4px #d5d1d5;
}
body .page .section .row .col-4 .card .card-img-top {
  width: 225px;
  height: 225px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 50%;
  background-color: whitesmoke;
}
body .page .section .row .col-4 .card .card-body .form-group {
  margin-bottom: 9px !important;
}
body .page .section .row .col-8 .card {
  box-shadow: 2px 3px 8px 4px #d5d1d5;
}
body .page .section .row .col-8 .card .card-body .Educational form table tr th {
  height: 50px;
}
body .page .section .row .col-8 .card .card-body .Educational form table tr td {
  height: 100px;
}
body .page .section .row .col-8 .card .card-body .Internship ul li a {
  text-decoration: none !important;
}
body .page .section .row .col-8 .card .card-body .project ul li a {
  text-decoration: none !important;
}
body .page div a .fa-arrow-circle-o-up {
  position: fixed;
  top: 540px;
  left: 1270px;
  font-size: 50px !important;
}
body .page div a .fa-arrow-circle-o-up #scroll {
  font-size: 16px;
}
body .page .footer {
  width: 100%;
  height: 50px;
  position: absolute;
  display: block;
  color: white;
  background-color: black;
  text-align: center;
  margin-top: 10px;
  font-size: 24px;
  line-height: 50px;
  float: left;
}
body .page .footer span {
  padding: 0px 5px;
}
body .page .footer a {
  color: white;
  text-decoration: none;
}

.card-gap {
  margin-top: 10px;
}

.edu-size, .intern-size, .project-size {
  font-size: 26px;
}

.course, .board, .institution {
  width: 166px;
}

.year {
  width: 80px;
}

.cgpa {
  width: 107px;
}

/*# sourceMappingURL=index.css.map */
